body, html {
	border: 0;
	padding: 0;
	margin: 0;
}

/*	HEADER	*/
header {
	margin-bottom: 2%;
}

.menu {
	list-style: none;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
#logo{
	width: 49%;
  	display: inline-block;
}
#logIn{
	width: 49%;
  	display: inline-block;
 	text-align: right;
}
.logo {
	background-color: #fff;
	color: #337ab7;
	border-color: #2e6da4;
	font-size: 50px;
	margin-left: 10px;
  	margin-top: 10px;
	font-family: "Helvetica", "Open Sans", "arial";
}


.menu li {
	display: inline-block;
	padding: 10px;
}

.menu li a {
	text-decoration: none;
	color: white;
	font-family: "Helvetica", "Open Sans", "arial";
	cursor: pointer;
}

.menu li a:hover {
	color: black;
}
/*	Fin Menu 	*/
p, h1, h2, h3, a, span {
	font-family: "Helvetica", "Open Sans", "arial";
}

.contenedor {
	padding-left: 5%;
  	padding-right: 5%;
}

.error, .error p {
	color: red;
}

.selectorPaquete, .selectorVuelo, .selectorCliente {
	cursor: pointer;
	font-weight: bold;
}

.selectorPaquete:hover, .selectorVuelo:hover, .selectorCliente:hover {
	color: #4f67f9;
}

#tablaPaquetes, #tablaVuelos, #tablaClientes {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

#detallePaquete, #detalleVuelo, #detalleCliente {
	margin-top: 15px;
	margin-left: 15px;
	width: 35%;
	left: 300px;
	top: 0;
	display: inline-block;
}

.invisible {
	visibility: hidden;
}

.label{
	font-size: 20px;
}

#formLogin label{
	display:block!important;
	
}
.formulario{
	width: 50%;
	  line-height: 25px;
}
.opcionHome{
	width: 45%;
	  display: inline-block;
	    border: 8px solid transparent;
}
.opcionHome:hover{
	  border: 2px solid;
}
.opcionHome a:hover{
	text-decoration: none!important;
}
.opcionHome a img{
	width: 100%;
}
.opcionHome a div{
  color: #fff;
  background-color: #337ab7;
  padding: 5px;
  text-decoration: none;
  font-size: large;
}
#imageneshome{
	text-align: center;
}
.formConfirmar{
	width: 70%;
  	line-height: 30px;
}
footer{
	  padding: 7px;
	  text-align: center;
	  font-weight: bold;
	  margin-top: 25px;
	  color: white;
	  background-color: #337ab7;
}
.precio{
	  margin-left: 15px;
  padding: 10px;
  color: green;
  font-weight: bold;
  font-style: italic;
  font-size: x-large;
}